footer {
  border: 1px solid yellow;
  padding: 0;
}

footer ul {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

footer ul li {
  margin: 0 40px;
  list-style: none;
  display: flex;
  align-items: flex-end;
}

footer ul li img {
  height: 30px;
  widows: auto;
}